/*As the main container, styling for the <body> will affect the whole document.*/
body{
background-color:#ECECEC;
font-family: 'Barlow Semi Condensed', sans-serif;
margin: 0;
}

/*Header and header nav*/
header{
  background-color: #01345B;
}

header h1{
  display: flex;
  justify-content: center;
  margin-bottom: 5px;
}

header nav{
  display: flex;
  justify-content: center;
}

header nav ul{
  display: flex;
  list-style: none;
  padding-left: 0;
}

header nav ul li:last-child a{
  margin-right: 0;
}

header nav ul li a{
  padding-left: 10px;
  text-decoration: none;
  color: whitesmoke;
}

/* Formatting for each heading, paragraphs, and list items */
h1{
  color: whitesmoke;
  font-weight: bolder;
}

h2{
  font-size:20px;
  font-weight: bolder;
  margin: 0;
}

h3{
font-size: 16px;
font-style: oblique;
}

h4{
  font-style: oblique;
  margin: 0px;
}

p, li {
  font-size: 14px;
}

main section div div ul div li:last-child{
  margin-right: 0px;
}

main section div div ul div li:first-child{
margin-left: -20px;
}

/* these are class selectors which are used on multiple or individual sections throughout the page */
.center-text{
  text-align: center;
}

.image-size{
  width: 100%;
  margin: auto;
}

.blueBG{
  color: whitesmoke;
  background-color:#01345B;
  padding: 10px;
}

.group {
  display: flex;
  flex-direction: column;
}

.item {
  flex: 1;
  margin: 10px;
}

.item-double {
  flex: 2;
}

.servicelist {
  display: flex;
  list-style-type: none;
  justify-content: center;
  margin-left:0;
  margin-right:60px;
}

.servicelistitems{
  margin-left: 10px;
}

/*Pseudo-classes for styling and making interactive links*/

a.bcba:link{
  color: #DDCA31;
  text-decoration: none;
}
a.bcba:visited{
  color: #a2a2a2;
}
a.bcba:hover{
  color: black;
}
a.bcba:active{
 font-size: 150%;
}


a.contact:link{
  background-color: whitesmoke;
  color: blue;
  padding: 10px;
  text-align: center; 
  text-decoration: none;
  display: inline-block;
  border-radius: 20%
}

a.contact:visited{
  color: red;
}

a.contact:hover{
  color: black;
}

a.contact:active{
 font-size: 150%;
}


/*Form formatting*/

form input,
form textarea {
  width: 100%;
  background-color: whitesmoke;
  color: #01345B;
}

form button {
  padding: 5px;
  border-radius: 10px;
  border: 0;
  font-family: Tahoma;
  font-size: 14px;
  background-color: whitesmoke;
  color: #01345B;
  margin: 0 8px 10px 0;
}

form {
  background-color:#01345B;
  color: whitesmoke;
  margin-bottom: 10px;
  padding: 10px;
}

fieldset {
  border-color:gray;
}

legend {
  text-align: center;
}
/*footer formatting*/
footer{
    display: flex;
    color: whitesmoke;
    background-color:#01345B;
    flex-direction: column;
    text-align: center;
    padding-bottom: 25px;
}

/*for desktop*/

@media all and (min-width: 800px){
  .group{
    flex-direction: row;
  }
  section {
    padding: 0 10%;
  }
  p {
    font-size: 16px;
  }
}